body {
  background-color: rgb(4, 51, 60);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.time-container {
  width: 100%;
  font-size: 2.5rem;
  padding: 10px;
  color: white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  text-decoration: underline;
}
.clock {
  font-size: 150px;
  color: white;
  padding: 10px;
  font-weight: 900;
}
.btn-container {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}
.btn {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  box-shadow: 0 0 5px solid black;
  margin: 0 10px;
  border-radius: 10px;
  padding: 12px 25px;
  cursor: pointer;
}
#start {
  background-color: rgb(11, 85, 11);
  padding: 12px 30px;
}
#pause {
  background-color: rgb(199, 184, 73);
}
#reset {
  background-color: red;
}
